/* Start scroll bar coding */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #13102e;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #5344f5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #403899;
}

/* End scroll bar coding */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: cursive;
}

body {
    background-color: #1b203d !important;
}


/* Start side nav coding */

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 228px;
    height: 100vh;
    background-color: #16193a;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    z-index: 999;
}

.side-nav .profile-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(/images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px #5344f5;
    border: 2px solid #5344f5;
    cursor: pointer;
}

.side-nav #profile-heading {
    color: whitesmoke;
    margin: 15px 2px;
    text-align: center;
    text-shadow: 1px 1px 5px #5344f5;
}

.side-nav ul {
    width: 100%;
    height: 55%;
}

.side-nav ul li {
    border-radius: 0 !important;
    margin: 10px 0px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    transition: .4s ease-in-out;
}

.side-nav ul li:hover {
    /* background-color: rgba(255, 255, 255, 0.788); */
    background-color: #5344f5;
    color: #16193a;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.side-nav button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-size: 22px;
    color: #fff;
    border-radius: 0 !important;
}

.side-nav button:hover {
    background-color: red !important;
    font-weight: bold;
}

/* End side nav coding */



/* Start main box coding */

.main-box .brand-box li {
    border-radius: 0 !important;
    border: none;
    background-color: transparent;
    /* font-size: 25px; */
    font-weight: bold;
    background-color: #5344f5;
    color: whitesmoke;
    box-shadow: 1px 1px 10px black;
    margin-top: 2px;
}

.main-box .list-group li h2 {
    text-shadow: 1px 1px 5px black;
}

.main-box .teacher-box li {
    border-radius: 0;
    background-color: #272c4a;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    box-shadow: 0px 0px 5px black;
}

.teacher-box .content-box {
    width: 100%;
    height: 150px;
    background-color: #13102e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 5px black;
}

.teacher-box .content-box .number-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #5344f5;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #5344f5;
}

/* End main box coding */



/* Start section two coding create subjects */

.main-box .accordion .accordion-item {
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-box .accordion-header button {
    background-color: #403899 !important;
    color: whitesmoke;
    /* border: none !important; */
    box-shadow: 0px 0px 5px black;
    box-shadow: none !important ;
    border-radius: 0 !important;
}

.main-box .accordion #create-subject,
.main-box .accordion .accordion-body {
    background-color: #13102e;
    color: whitesmoke;
}

.main-box .accordion .accordion-body button {
    background-color: #5344f5;
    color: white;
    font-size: 18px;
}

.main-box .accordion .accordion-body button:hover {
    background-color: #403899;
    box-shadow: 0px 0px 5px #5344f5;
}

/* End section two coding create subjects */



/* Start section three coding update and delete subjects */

.main-box .visible-subject i {
    cursor: pointer;
    font-size: 22px;
}

.main-box .visible-subject i:hover {
    color: #5344f5;
    box-shadow: 0px 0px 2px #5344f5;
}

/* End section three coding update and delete subjects */