/* Start scroll bar coding */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #13102e;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #5344f5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #403899;
}

/* End scroll bar coding */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: cursive;
}

body {
    background-color: #1b203d !important;
}

.error-msg {
    padding: 18%;
}


/* Start side nav coding */

.toggler-box {
    opacity: 0;
}

.toggler-box .toggler-icon {
    z-index: 1000 !important;
    position: fixed !important;
    top: 9px !important;
    right: 10px !important;
    width: fit-content !important;
    background-color: red !important;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
    color: #13102e;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 228px;
    height: 100vh;
    background-color: #16193a;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    z-index: 999;
    transition: .9s ease-in-out;
    opacity: 1;
}

.side-nav .profile-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(/images/img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px #5344f5;
    border: 2px solid #5344f5;
    cursor: pointer;
}

.side-nav #profile-heading {
    color: whitesmoke;
    margin: 15px 2px;
    text-align: center;
    text-shadow: 1px 1px 5px #5344f5;
}

.side-nav ul {
    width: 100%;
    height: 55%;
}

.side-nav ul li {
    border-radius: 0 !important;
    margin: 10px 0px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    transition: .4s ease-in-out;
}

.side-nav ul li:hover {
    /* background-color: rgba(255, 255, 255, 0.788); */
    background-color: #5344f5;
    color: #16193a;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.side-nav button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-size: 22px;
    color: #fff;
    border-radius: 0 !important;
}

.side-nav button:hover {
    background-color: red !important;
    font-weight: bold;
}

/* End side nav coding */



/* Start main box coding */

.main-box .brand-box li {
    border-radius: 0 !important;
    border: none;
    background-color: transparent;
    /* font-size: 25px; */
    font-weight: bold;
    background-color: #5344f5;
    color: whitesmoke;
    box-shadow: 1px 1px 10px black;
    margin-top: 2px;
}

.main-box .list-group li h2 {
    text-shadow: 1px 1px 5px black;
}

.main-box .teacher-box li {
    border-radius: 0;
    background-color: #272c4a;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    box-shadow: 0px 0px 5px black;
}

.teacher-box .content-box {
    width: 100%;
    height: 150px;
    background-color: #13102e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 5px black;
}

.teacher-box .content-box .number-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #5344f5;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #5344f5;
}

/* End main box coding */



/* Start section two coding create subjects */

.main-box .accordion .accordion-item {
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-box .accordion-header button {
    background-color: #403899 !important;
    color: whitesmoke;
    /* border: none !important; */
    box-shadow: 0px 0px 5px black;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.main-box .accordion #create-subject,
.main-box .accordion .accordion-body {
    background-color: #13102e;
    color: whitesmoke;
}

.main-box .accordion .accordion-body button {
    background-color: #5344f5;
    color: white;
    font-size: 18px;
}

.main-box .accordion .accordion-body button:hover {
    background-color: #403899;
    box-shadow: 0px 0px 5px #5344f5;
}

/* End section two coding create subjects */



/* Start section three coding update and delete subjects */

.main-box i {
    cursor: pointer;
    font-size: 22px;
}

.main-box i:hover {
    color: #5344f5;
    box-shadow: 0px 0px 2px #5344f5;
}

.select-question-box {
    height: 350px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

/* End section three coding update and delete subjects */


/* Start section five coding Student and Teacher registration form data*/

.registration-data-box {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 300px;
}

/* End section five coding Student and Teacher registration form data */



/* Start modal box coding */

.modal-content .modal-header {
    background-color: #dc3545;
    color: #fff;
}

.modal-content .profile-box  {
    width: 100%;
    height: 300px;
    background-color: #f2f2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-shadow: 0 0 3px;
    border-radius: 10px;
}

.modal-content .profile-box .upload-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(/images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px;
}

.modal-content .profile-box .modal-add-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 0 0 3px;
}

.modal-content .profile-box input {
    position: absolute;
    width: 50px;
    right: 10px;
    top: 6px;
    opacity: 0;
}

.modal-content .date-box {
    width: 100%;
    height: 150px;
    background-color: #f2f2f4;
    box-shadow: 0 0 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.modal-content .date-box .icon-box {
    width: 100%;
    height: 40px;
    background-color: #dc3545;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.modal-content form input,
.modal-content form textarea {
    box-shadow: none !important;
}

.modal-content .modal-footer {
    background-color: #f2f2f4;
}


/* End modal box coding */


/* Start certifiacte coding */


.certificate-main {
    width: 800px;
    height: 1250px;
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(0%, 0%);
    border: 10px groove purple;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    /* opacity: 0; */
    display: none;
    z-index: -100;
}

.certificate-main.active {
    display: block;
    opacity: 1;
    z-index: 100;
    animation-name: slideInDown;
    animation-duration: 1s;
}

.certificate-main .certificate-close-btn {
    position: absolute;
    font-size: 30px;
    right: -20px;
    top: -30px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.certificate-main .certificate-close-btn:hover {
    color: red;
}

.certificate-main .main-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    margin: auto;
    padding: 0 50px;
}

.certificate-main .main-box .name-box {
    width: 100%;
    height: 200px;
    border: 1px solid #af8bbc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.certificate-main .main-box .img-box,
.certificate-main .main-box .roll-box,
.certificate-main .main-box .content-box {
    width: 30%;
    height: 90%;
    margin: auto;
}

.certificate-main .main-box .roll-box,
.certificate-main .main-box .content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.certificate-main .main-box .signature-box {
    width: 100%;
    height: 150px;
    border: 2px solid #af8bbc;
    display: flex;
}

.certificate-main .main-box .sign-box {
    width: 32%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-weight: bold;
}


/* End certifiacte coding */



/* MediaQueries */
@media(max-width : 991px), (max-width : 1024px), (max-width : 1280px) {
    
    #side-nav {
        transform: translateX(-300px);
        transition: .9s ease-in;
        opacity: 0;
        transition-delay: .5s;
    }

    #side-nav.active {
        transform: translateX(0px);
        transition: .9s ease-in;
        opacity: 1;
        transition-delay: .5s;
    }

    .toggler-box {
        opacity: 1;
    }
}

@media(max-width : 375px) {

    .modal-content .profile-box .upload-box {
        width: 100px;
        height: 100px;
    }

    .modal-content .profile-box {
        padding: 10px;
    }
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}