* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #73648a !important;
    font-family: cursive !important;
}

.input-group-text {
    background-color: #73648a !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 18px !important;
    text-shadow: 0 0 3px black;
}

.form-select,
.form-control {
    box-shadow: none !important;
}

.btn {
    background-color: #73648a !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
    text-shadow: 0 0 3px black;
    letter-spacing: 2px;
    transition: .5s;
}

.btn:hover {
    transform: scale(.9);
    transition: .5s;
}